.container {
	position: relative;
	margin-top: 5vh;
	width: 100%;
}

.arrowRight {
	height: 100%;
	vertical-align: middle;
	width: 3vw;
	margin-right: 2vh;
	margin-left: 2vh;
}

.subnavbtn .tooltip {
	position: absolute;
	top: 2vh;
	visibility: hidden;
	z-index: 1;
	border: 1px solid black;
	color: #67b667;
	padding: 5px;
	background-color: white;
}

.subnavbtn:hover .tooltip {
	visibility: visible;
}

.navbar {
	justify-content: center;
	display: flex;
	left: 20vh;
}

.navbar a {
	float: left;
	font-size: 1em;
	color: black;
	text-align: center;
	border-radius: 10%;
	margin-right: 0.2vw;
	padding: 14px 16px;
	text-decoration: none;
	justify-content: center;
}

.subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	border: 1px solid black;
	border-radius: 10%;
	background-color: #b9b9b9;
	color: black;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
	background-color: #585858;
	color: white;
	cursor: pointer;
}

.subnav-content {
	display: none;
	z-index: 1;
}

.subnav-content a:hover {
	background-color: #585858;
	color: white;
	cursor: pointer;
}

.subnav:hover .subnav-content {
	position: absolute;
	display: flex;
}

.subnav-item {
	background-color: #b9b9b9;
	color: white;
}

.nav-item {
	text-decoration: none;
	color: white;
	padding: 0.6vh;
	margin-right: 2vh;
	position: relative;
	top: 2vh;
	background-color: #585858;
	border: 1px solid black;
	border-radius: 10%;
}

.nav-item:hover {
	background-color: #8b8b8b;
	color: black;
}
.nav-item:active {
	background-color: #7a7a7a;
	color: black;
}
